.price-card-container {
  margin: 2rem 0;
  .container {
    .category-heading {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      color: #1a1a1a;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;
      justify-content: center;
      gap: 1.5rem;
      
      .car-card {
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        padding: 2rem;
        max-width: 535px;
        .content-box {
          .left-box {
            .image-box {
              text-align: center;
              text-transform: capitalize;
              font-weight: bold;
              color: #1a1a1a;
              font-size: 20px;
            }
            .vertical-line {
              height: 100%;
              width: 1px;
              background-color: #cecece;
            }
            .self-drive-box {
              display: flex;
              justify-content: center;
              flex-direction: column;
              gap: 0.5rem;
              .self-drive{
                font-weight: bold;
                color: #1a1a1a;
                margin-top: 2rem;
              }
              .price-details {
                display: flex;
                flex-wrap: wrap;
                color: #1a1a1a;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                margin: 1rem 0 2rem 0;
              }
            }
          }
          .right-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            .book-now-button{
              background-color: #1a1a1a;
              padding: 0.4rem 2rem;
              color: #fff;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media (min-width:1024px) {
  .content-box{
    /* display: flex;
    justify-content: space-between; */
  }
  .left-box{
    display: flex;
    gap: 2rem;
  }
  .price-details{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
  }
  .self-drive{
    margin: 0;
  }
}